<!doctype html>
	<head>
		<div class="main">
		<title class="title">beyondev.com</title>
		<link rel="stylesheet" type="text/css" href="style.css">
	</head>
    <body style="background-color:#b3a3e3;text-align:center">
		<img class="logo" src="images/logo.jpeg" width="300" height="200" b title="logo">
<br>
<h1 class="title"> BEYONDEV IOTECH.PVT LTD</h1>
<p class="menu">
<a href="/home">HOME</a home=# >&nbsp&nbsp&nbsp&nbsp
<a href="/blog">BLOG</a blog=#> &nbsp&nbsp&nbsp&nbsp
<a href="/about">ABOUT</a about=#>&nbsp&nbsp&nbsp&nbsp
<a href="/login">LOGIN</a login=#>&nbsp&nbsp&nbsp&nbsp
<br>
</p>



<h4>
	
	To serve our customers to the best by delivering technically sound and affordable business solutions while ensuring exceptional customer support throughout the process.
                                       
</h4>
<h6>
	<b>ABOUT BEYONDEV IOTECH</b><br><br>
Why the best choose to work with us
Your website is your virtual front door, where prospects form a crucial first impression about the capabilities and personality of your firm. At Beyondev IOT, we custom design your website to clearly express your brand and meet your users’ specific needs. Our process includes time to understand what differentiates you from your competition, and often involves a thorough brand analysis phase.

Nullam placerat nunc id ornare convallis.
Mauris id dui aliquam, dapibus felis vel, iaculis risus.
Integer dapibus lorem in nisl hendrerit dictum.



</h6>

 	<br>
 	<br>
 	<b>ADDRESS:<br><br> NO: 120, 1 Chinnakadai St, Pavazhakundur, Tiruvannamalai, Tamil Nadu 606601</p></b>
 	<P>
EMAIL: <br>info@beyondev.com<br>

<p > CONTACT: <br> 9444247926</p>
 </p>
</div>
	</body>
    </html>